function Bot.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 1
pop this 5
push constant 32
pop this 2
push constant 0
not
pop this 3
push constant 25
pop this 6
push pointer 0
return
function Bot.getTimeBetweenAtacks 0
push argument 0
pop pointer 0
push this 6
return
function Bot.setMap 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Bot.getX 0
push argument 0
pop pointer 0
push this 0
return
function Bot.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Bot.getY 0
push argument 0
pop pointer 0
push this 1
return
function Bot.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Bot.getDirection 0
push argument 0
pop pointer 0
push this 5
return
function Bot.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function Bot.getAlive 0
push argument 0
pop pointer 0
push this 3
return
function Bot.setAlive 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Bot.getSize 0
push argument 0
pop pointer 0
push this 2
return
function Bot.setSize 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Bot.Atack 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 5
call Bullet.new 3
pop this 7
push this 7
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push this 7
call Objects.addNewBullet 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Bot.moveUp 1
push argument 0
pop pointer 0
push this 1
push constant 2
sub
pop local 0
push this 4
push pointer 0
push this 0
push local 0
call BotCollisions.Check 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
call Math.max 2
pop this 1
label IF_FALSE0
push constant 0
return
function Bot.moveDown 1
push argument 0
pop pointer 0
push this 1
push constant 2
add
pop local 0
push this 4
push pointer 0
push this 0
push local 0
call BotCollisions.Check 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 255
call Math.min 2
pop this 1
label IF_FALSE0
push constant 0
return
function Bot.moveLeft 1
push argument 0
pop pointer 0
push this 0
push constant 2
sub
pop local 0
push this 4
push pointer 0
push local 0
push this 1
call BotCollisions.Check 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
push local 0
call Math.max 2
pop this 0
label IF_FALSE0
push constant 0
return
function Bot.moveRight 1
push argument 0
pop pointer 0
push this 0
push constant 2
add
pop local 0
push this 4
push pointer 0
push local 0
push this 1
call BotCollisions.Check 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 511
call Math.min 2
pop this 0
label IF_FALSE0
push constant 0
return
function Bot.moveBot 0
push argument 0
pop pointer 0
push this 5
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Bot.moveUp 1
pop temp 0
label IF_FALSE0
push this 5
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Bot.moveDown 1
pop temp 0
label IF_FALSE1
push this 5
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Bot.moveLeft 1
pop temp 0
label IF_FALSE2
push this 5
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Bot.moveRight 1
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function Bot.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
