function Brick.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 32
pop this 2
push constant 0
not
pop this 3
push pointer 0
return
function Brick.getX 0
push argument 0
pop pointer 0
push this 0
return
function Brick.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Brick.getY 0
push argument 0
pop pointer 0
push this 1
return
function Brick.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Brick.getSize 0
push argument 0
pop pointer 0
push this 2
return
function Brick.setSize 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Brick.getAlive 0
push argument 0
pop pointer 0
push this 3
return
function Brick.setAlive 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Brick.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
