function Bullet.new 5
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop local 3
push argument 1
pop local 4
push constant 32
pop local 1
push local 3
push constant 32
push constant 2
call Math.divide 2
add
push constant 5
sub
pop local 0
push local 4
push constant 32
push constant 2
call Math.divide 2
add
push constant 5
sub
pop local 2
push argument 2
pop this 2
push constant 5
pop this 3
push constant 0
not
pop this 4
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
push constant 5
sub
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 4
label IF_FALSE1
push local 0
pop this 0
push local 4
push constant 5
sub
pop this 1
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push local 1
add
push this 3
add
push constant 5
add
push constant 256
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 4
label IF_FALSE3
push local 0
pop this 0
push local 4
push local 1
add
push constant 5
add
pop this 1
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 3
push constant 5
sub
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop this 4
label IF_FALSE5
push local 3
push constant 5
sub
pop this 0
push local 2
pop this 1
label IF_FALSE4
push this 2
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 3
push local 1
add
push this 3
add
push constant 5
add
push constant 512
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
pop this 4
label IF_FALSE7
push local 3
push local 1
add
push constant 5
add
pop this 0
push local 2
pop this 1
label IF_FALSE6
push pointer 0
return
function Bullet.getX 0
push argument 0
pop pointer 0
push this 0
return
function Bullet.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Bullet.getY 0
push argument 0
pop pointer 0
push this 1
return
function Bullet.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Bullet.getDirection 0
push argument 0
pop pointer 0
push this 2
return
function Bullet.getAlive 0
push argument 0
pop pointer 0
push this 4
return
function Bullet.setAlive 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Bullet.getSize 0
push argument 0
pop pointer 0
push this 3
return
function Bullet.setSize 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Bullet.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 2
sub
pop this 1
label IF_FALSE0
push constant 0
return
function Bullet.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 3
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 2
add
pop this 1
label IF_FALSE0
push constant 0
return
function Bullet.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 2
sub
pop this 0
label IF_FALSE0
push constant 0
return
function Bullet.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 3
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 2
add
pop this 0
label IF_FALSE0
push constant 0
return
function Bullet.moveBullet 0
push argument 0
pop pointer 0
push pointer 0
call Drower.clearBullet 1
pop temp 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Bullet.moveUp 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
pop this 4
label IF_END1
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push this 3
add
push constant 254
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Bullet.moveDown 1
pop temp 0
goto IF_END3
label IF_FALSE3
push constant 0
pop this 4
label IF_END3
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 1
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Bullet.moveLeft 1
pop temp 0
goto IF_END5
label IF_FALSE5
push constant 0
pop this 4
label IF_END5
label IF_FALSE4
push this 2
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push this 3
add
push constant 510
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Bullet.moveRight 1
pop temp 0
goto IF_END7
label IF_FALSE7
push constant 0
pop this 4
label IF_END7
label IF_FALSE6
push constant 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
