function BulletCollisions.CheckCollisionsWithPlayer 0
push argument 0
push argument 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 0
call Player.getX 1
push argument 0
call Player.getSize 1
add
lt
push argument 2
push argument 1
call Bullet.getSize 1
add
push argument 0
call Player.getX 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 3
push argument 0
call Player.getY 1
push argument 0
call Player.getSize 1
add
lt
push argument 3
push argument 1
call Bullet.getSize 1
add
push argument 0
call Player.getY 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function BulletCollisions.CheckCollisionsWithBase 0
push argument 0
push argument 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 0
call Base.getX 1
push argument 0
call Base.getSize 1
add
lt
push argument 2
push argument 1
call Bullet.getSize 1
add
push argument 0
call Base.getX 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 3
push argument 0
call Base.getY 1
push argument 0
call Base.getSize 1
add
lt
push argument 3
push argument 1
call Bullet.getSize 1
add
push argument 0
call Base.getY 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function BulletCollisions.CheckCollisionsWithBot 0
push argument 0
push argument 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 0
call Bot.getX 1
push argument 0
call Bot.getSize 1
add
lt
push argument 2
push argument 1
call Bullet.getSize 1
add
push argument 0
call Bot.getX 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 3
push argument 0
call Bot.getY 1
push argument 0
call Bot.getSize 1
add
lt
push argument 3
push argument 1
call Bullet.getSize 1
add
push argument 0
call Bot.getY 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function BulletCollisions.CheckCollisionsWithBrick 0
push argument 0
push argument 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 0
call Brick.getX 1
push argument 0
call Brick.getSize 1
add
lt
push argument 2
push argument 1
call Bullet.getSize 1
add
push argument 0
call Brick.getX 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 3
push argument 0
call Brick.getY 1
push argument 0
call Brick.getSize 1
add
lt
push argument 3
push argument 1
call Bullet.getSize 1
add
push argument 0
call Brick.getY 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function BulletCollisions.CheckCollisionsWithBullet 0
push argument 0
call Bullet.getX 1
push argument 1
call Bullet.getX 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 0
call Bullet.getX 1
push argument 0
call Bullet.getSize 1
add
lt
push argument 2
push argument 1
call Bullet.getSize 1
add
push argument 0
call Bullet.getX 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 3
push argument 0
call Bullet.getY 1
push argument 0
call Bullet.getSize 1
add
lt
push argument 3
push argument 1
call Bullet.getSize 1
add
push argument 0
call Bullet.getY 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
