function BulletsList.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function BulletsList.getData 0
push argument 0
pop pointer 0
push this 0
return
function BulletsList.getNext 0
push argument 0
pop pointer 0
push this 1
return
function BulletsList.setNext 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function BulletsList.getPrev 0
push argument 0
pop pointer 0
push this 2
return
function BulletsList.setPrev 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function BulletsList.drowBullets 0
push argument 0
pop pointer 0
push pointer 0
pop this 3
label WHILE_EXP0
push this 3
push constant 0
eq
not
not
if-goto WHILE_END0
push this 3
call BulletsList.getData 1
pop this 5
push this 5
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
call Drower.DrawBullet 1
pop temp 0
label IF_FALSE0
push this 3
call BulletsList.getNext 1
pop this 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BulletsList.killBulletsWithBullet 1
push argument 0
pop pointer 0
push pointer 0
pop this 3
push constant 0
pop local 0
label WHILE_EXP0
push this 3
push constant 0
eq
not
push local 0
not
and
not
if-goto WHILE_END0
push this 3
call BulletsList.getData 1
pop this 5
push this 5
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithBot 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push constant 0
call Bullet.setAlive 2
pop temp 0
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push constant 0
not
pop local 0
label IF_FALSE1
label IF_FALSE0
push this 3
call BulletsList.getNext 1
pop this 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BulletsList.removeDeadBulletsFromList 0
push argument 0
pop pointer 0
push pointer 0
pop this 3
label WHILE_EXP0
push this 3
push constant 0
eq
not
not
if-goto WHILE_END0
push this 3
call BulletsList.getNext 1
pop this 4
push this 3
call BulletsList.getData 1
pop this 5
push this 5
call Bullet.getAlive 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 3
call BulletsList.removeDeadBullet 2
pop temp 0
label IF_FALSE0
push this 4
pop this 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BulletsList.removeDeadBullet 0
push argument 0
pop pointer 0
push pointer 0
pop this 6
push argument 1
call BulletsList.getPrev 1
pop this 7
push argument 1
call BulletsList.getNext 1
pop this 8
push this 7
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push this 8
call BulletsList.setNext 2
pop temp 0
push this 8
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
push this 7
call BulletsList.setPrev 2
pop temp 0
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push this 6
call BulletsList.getNext 1
pop this 6
push this 6
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
push constant 0
call BulletsList.setPrev 2
pop temp 0
label IF_FALSE2
label IF_END0
push constant 0
return
function BulletsList.moveBullets 0
push argument 0
pop pointer 0
push pointer 0
pop this 3
label WHILE_EXP0
push this 3
push constant 0
eq
not
not
if-goto WHILE_END0
push this 3
call BulletsList.getData 1
pop this 5
push this 5
call Bullet.moveBullet 1
pop temp 0
push this 3
call BulletsList.getNext 1
pop this 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BulletsList.dispose 0
push argument 0
pop pointer 0
push this 0
call Bullet.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
