function Drower.DrawBrick 4
push argument 0
call Brick.getX 1
pop local 1
push argument 0
call Brick.getY 1
pop local 2
push argument 0
call Brick.getAlive 1
pop local 3
push local 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 512
push constant 16
sub
call Math.min 2
pop local 1
push local 2
push constant 256
push constant 16
sub
call Math.min 2
pop local 2
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawPlayerUp 1
push argument 1
push constant 256
push constant 32
sub
push constant 4
sub
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 16384
push constant 32
push argument 1
push constant 32
add
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
push constant 32
add
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
label IF_FALSE0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1924
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15903
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1023
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawPlayerRight 1
push argument 0
push constant 16
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
sub
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
sub
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
sub
pop argument 1
label IF_FALSE0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push argument 1
push constant 16
sub
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawPlayerDown 1
push argument 1
push constant 3
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 16384
push constant 32
push argument 1
push constant 3
sub
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
push constant 3
sub
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
label IF_FALSE0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 62
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31744
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32767
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1986
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31775
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawPlayerLeft 1
push argument 0
push constant 512
push constant 32
sub
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 32
add
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 32
add
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
sub
pop argument 1
label IF_FALSE0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1023
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1365
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawBulletUp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 0
push argument 2
add
push argument 1
push argument 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Drower.DrawBulletDown 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 0
push argument 2
add
push argument 1
push argument 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Drower.DrawBulletLeft 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 0
push argument 2
add
push argument 1
push argument 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Drower.DrawBulletRight 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push argument 0
push argument 2
add
push argument 1
push argument 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Drower.DrawBullet 4
push argument 0
call Bullet.getDirection 1
pop local 3
push argument 0
call Bullet.getX 1
pop local 0
push argument 0
call Bullet.getY 1
pop local 1
push argument 0
call Bullet.getSize 1
pop local 2
push local 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
push local 2
call Drower.DrawBulletUp 3
pop temp 0
label IF_FALSE0
push local 3
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
push local 2
call Drower.DrawBulletDown 3
pop temp 0
label IF_FALSE1
push local 3
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
push local 2
call Drower.DrawBulletLeft 3
pop temp 0
label IF_FALSE2
push local 3
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
push local 2
call Drower.DrawBulletRight 3
pop temp 0
label IF_FALSE3
push constant 0
return
function Drower.DrawPlayer 3
push argument 0
call Player.getDirection 1
pop local 2
push argument 0
call Player.getX 1
pop local 0
push argument 0
call Player.getY 1
pop local 1
push local 0
push constant 0
call Math.max 2
pop local 0
push local 1
push constant 0
call Math.max 2
pop local 1
push local 0
push constant 512
push constant 32
sub
call Math.min 2
pop local 0
push local 1
push constant 256
push constant 32
sub
call Math.min 2
pop local 1
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
call Drower.DrawPlayerUp 2
pop temp 0
label IF_FALSE0
push local 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call Drower.DrawPlayerDown 2
pop temp 0
label IF_FALSE1
push local 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
call Drower.DrawPlayerLeft 2
pop temp 0
label IF_FALSE2
push local 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call Drower.DrawPlayerRight 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Drower.clearBullet 3
push argument 0
call Bullet.getX 1
pop local 0
push argument 0
call Bullet.getY 1
pop local 1
push argument 0
call Bullet.getSize 1
pop local 2
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Drower.DrawBot 3
push argument 0
call Bot.getDirection 1
pop local 2
push argument 0
call Bot.getX 1
pop local 0
push argument 0
call Bot.getY 1
pop local 1
push local 0
push constant 0
call Math.max 2
pop local 0
push local 1
push constant 0
call Math.max 2
pop local 1
push local 0
push constant 512
push constant 32
sub
call Math.min 2
pop local 0
push local 1
push constant 256
push constant 32
sub
call Math.min 2
pop local 1
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
call Drower.DrawBotUp 2
pop temp 0
label IF_FALSE0
push local 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call Drower.DrawBotDown 2
pop temp 0
label IF_FALSE1
push local 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
call Drower.DrawBotLeft 2
pop temp 0
label IF_FALSE2
push local 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call Drower.DrawBotRight 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Drower.DrawBotUp 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12416
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12416
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 7951
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 499
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8179
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 499
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 511
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 18436
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 18496
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 124
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1022
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16365
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1005
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16352
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15872
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawBotRight 1
push constant 0
call Screen.setColor 1
pop temp 0
push constant 1
push argument 0
push constant 16
sub
call Math.max 2
push argument 1
push argument 0
push constant 255
push argument 1
push constant 32
add
call Math.min 2
call Screen.drawRectangle 4
pop temp 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 208
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 208
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16176
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 227
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 227
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 227
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 227
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 170
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 16176
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 208
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 208
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawBotLeft 1
push constant 0
call Screen.setColor 1
pop temp 0
push constant 1
push argument 1
call Math.max 2
pop argument 1
push constant 512
push constant 3
sub
push argument 0
push constant 16
add
call Math.min 2
push constant 255
push argument 1
call Math.min 2
push constant 512
push constant 3
sub
push argument 0
push constant 64
add
call Math.min 2
push constant 255
push argument 1
push constant 32
add
call Math.min 2
call Screen.drawRectangle 4
pop temp 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 21760
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push argument 1
push constant 16
sub
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3647
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3327
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3327
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3135
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3324
call Memory.poke 2
pop temp 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 3324
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3135
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3327
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3327
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3647
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawBotDown 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 124
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 18496
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 18436
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32764
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15872
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16352
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1005
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16365
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1022
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16382
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
sub
pop argument 0
push argument 1
push constant 16
add
pop argument 1
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12416
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12296
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12416
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 0
push constant 0
add
push constant 511
call Memory.poke 2
pop temp 0
push argument 0
push constant 16
add
pop argument 0
push constant 16384
push constant 32
push argument 1
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 32
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 499
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8179
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 499
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 7951
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.clearBot 0
push constant 0
return
function Drower.DrawBase 3
push argument 0
call Base.getX 1
pop local 1
push argument 0
call Base.getY 1
pop local 2
push local 2
push constant 8
add
pop local 2
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 20464
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8224
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 1
push constant 16
add
pop local 1
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4082
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2043
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
