function Drower.DrawBrick 4
push argument 0
call Brick.getX 1
pop local 1
push argument 0
call Brick.getY 1
pop local 2
push argument 0
call Brick.getAlive 1
pop local 3
push local 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push constant 512
push constant 16
sub
call Math.min 2
pop local 1
push local 2
push constant 256
push constant 16
sub
call Math.min 2
pop local 2
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 1
push constant 16
add
pop local 1
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 2
push constant 16
add
pop local 2
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 1
push constant 16
sub
pop local 1
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push constant 0
return
function Drower.DrawBullet 4
push argument 0
call Bullet.getDirection 1
pop local 3
push argument 0
call Bullet.getX 1
pop local 0
push argument 0
call Bullet.getY 1
pop local 1
push argument 0
call Bullet.getSize 1
pop local 2
push local 0
push constant 0
gt
push local 0
push constant 512
lt
and
push local 0
push local 2
add
push constant 0
gt
and
push local 0
push local 2
add
push constant 512
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 0
gt
push local 1
push constant 256
lt
and
push local 1
push local 2
add
push constant 0
gt
and
push local 1
push local 2
add
push constant 256
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Drower.DrawPlayer 3
push argument 0
call Player.getDirection 1
pop local 2
push argument 0
call Player.getX 1
pop local 0
push argument 0
call Player.getY 1
pop local 1
push local 0
push constant 0
call Math.max 2
pop local 0
push local 1
push constant 0
call Math.max 2
pop local 1
push local 0
push constant 512
push constant 32
sub
call Math.min 2
pop local 0
push local 1
push constant 256
push constant 32
sub
call Math.min 2
pop local 1
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
call DrawPlayer.DrawPlayerUp 2
pop temp 0
label IF_FALSE0
push local 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call DrawPlayer.DrawPlayerDown 2
pop temp 0
label IF_FALSE1
push local 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
call DrawPlayer.DrawPlayerLeft 2
pop temp 0
label IF_FALSE2
push local 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call DrawPlayer.DrawPlayerRight 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Drower.clearBullet 3
push argument 0
call Bullet.getX 1
pop local 0
push argument 0
call Bullet.getY 1
pop local 1
push argument 0
call Bullet.getSize 1
pop local 2
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 0
gt
push local 0
push constant 512
lt
and
push local 0
push local 2
add
push constant 0
gt
and
push local 0
push local 2
add
push constant 512
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 0
gt
push local 1
push constant 256
lt
and
push local 1
push local 2
add
push constant 0
gt
and
push local 1
push local 2
add
push constant 256
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Drower.DrawBot 3
push argument 0
call Bot.getDirection 1
pop local 2
push argument 0
call Bot.getX 1
pop local 0
push argument 0
call Bot.getY 1
pop local 1
push local 0
push constant 0
call Math.max 2
pop local 0
push local 1
push constant 0
call Math.max 2
pop local 1
push local 0
push constant 512
push constant 32
sub
call Math.min 2
pop local 0
push local 1
push constant 256
push constant 32
sub
call Math.min 2
pop local 1
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
call DrawBot.DrawBotUp 2
pop temp 0
label IF_FALSE0
push local 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call DrawBot.DrawBotDown 2
pop temp 0
label IF_FALSE1
push local 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
call DrawBot.DrawBotLeft 2
pop temp 0
label IF_FALSE2
push local 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call DrawBot.DrawBotRight 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Drower.DrawBase 3
push argument 0
call Base.getX 1
pop local 1
push argument 0
call Base.getY 1
pop local 2
push local 2
push constant 8
add
pop local 2
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 20464
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8224
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32000
neg
push constant 768
sub
call Memory.poke 2
pop temp 0
push local 1
push constant 16
add
pop local 1
push constant 16384
push constant 32
push local 2
call Math.multiply 2
add
push local 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4082
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2043
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
