function Game.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 8
push argument 2
pop this 9
push argument 2
call CurrentLevel.getLevel 1
pop this 7
push constant 0
pop this 10
push constant 2
pop this 14
push this 7
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
call Level.getFirstLevel 1
pop this 0
push argument 1
call Level.countBotsFirstLevel 1
pop this 13
label IF_FALSE0
push this 7
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
call Level.getSecondLevel 1
pop this 0
push argument 1
call Level.countBotsSecondLevel 1
pop this 13
label IF_FALSE1
push this 0
call Objects.getPlayer 1
pop this 1
push this 0
call Objects.getBase 1
pop this 2
push this 0
call Objects.setMap 1
pop temp 0
push this 0
push pointer 0
call Objects.drowAllObjects 2
pop temp 0
push argument 0
pop this 6
push pointer 0
return
function Game.setCountBots 0
push argument 0
pop pointer 0
push argument 1
pop this 13
push constant 0
return
function Game.getCountBots 0
push argument 0
pop pointer 0
push this 13
return
function Game.MoveKeyboard 0
push argument 0
pop pointer 0
push argument 1
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
call Player.setDirection 2
pop temp 0
push this 1
call Player.movePlayer 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 2
call Player.setDirection 2
pop temp 0
push this 1
call Player.movePlayer 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 3
call Player.setDirection 2
pop temp 0
push this 1
call Player.movePlayer 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 4
call Player.setDirection 2
pop temp 0
push this 1
call Player.movePlayer 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Game.LogicKeyGame 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Game.LogicLevelGame 2
pop temp 0
push pointer 0
push argument 1
call Game.additionalKeyLogicGame 2
pop temp 0
push constant 0
return
function Game.LogicLevelGame 0
push argument 0
pop pointer 0
push argument 1
push constant 49
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
push constant 1
call CurrentLevel.setLevel 2
pop temp 0
push constant 0
not
pop this 10
label IF_FALSE0
push argument 1
push constant 50
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 9
push constant 2
call CurrentLevel.setLevel 2
pop temp 0
push constant 0
not
pop this 10
label IF_FALSE1
push constant 0
return
function Game.additionalKeyLogicGame 0
push argument 0
pop pointer 0
push argument 1
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 10
push this 6
push constant 0
not
call ExitGame.setExitGame 2
pop temp 0
label IF_FALSE0
push this 2
call Base.getAlive 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 10
push constant 0
pop this 14
push pointer 0
call Game.disposeLose 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 32
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Player.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 11
push this 1
call Player.getTimeBetweenAtacks 1
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
call Player.Atack 1
pop temp 0
push constant 0
pop this 11
label IF_FALSE4
label IF_FALSE3
label IF_FALSE2
push constant 0
return
function Game.mapWork 0
push argument 0
pop pointer 0
push this 0
call Objects.killObjectsWithBullet 1
pop temp 0
push this 0
call Objects.removeDeadObjectsFromLists 1
pop temp 0
push this 0
push pointer 0
call Objects.drowAllObjects 2
pop temp 0
push constant 0
return
function Game.ListWork 0
push argument 0
pop pointer 0
push this 0
call Objects.getBotsList 1
pop this 3
push this 0
call Objects.getBricksList 1
pop this 4
push this 0
call Objects.getBulletsList 1
pop this 5
push this 5
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
call BulletsList.moveBullets 1
pop temp 0
label IF_FALSE0
push this 3
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
call BotsList.moveBots 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
pop this 11
push constant 0
pop this 12
label WHILE_EXP0
push this 10
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push this 13
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 10
push constant 1
pop this 14
label IF_FALSE0
push pointer 0
push local 0
call Game.LogicKeyGame 2
pop temp 0
push this 1
call Player.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
call Game.MoveKeyboard 2
pop temp 0
label IF_FALSE1
push this 12
push constant 25
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
call BotsList.botsAtack 1
pop temp 0
push constant 0
pop this 12
label IF_FALSE2
push pointer 0
call Game.ListWork 1
pop temp 0
push pointer 0
call Game.mapWork 1
pop temp 0
push this 11
push constant 1
add
pop this 11
push this 12
push constant 1
add
pop this 12
goto WHILE_EXP0
label WHILE_END0
push this 0
call Objects.dispose 1
pop temp 0
push constant 0
return
function Game.getWin 0
push argument 0
pop pointer 0
push this 14
return
function Game.disposeLose 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.disposeWin 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
