function Game.new 1
push constant 2
call Memory.alloc 1
pop pointer 0
call Level.new 0
pop local 0
push local 0
call Level.getFirstLevel 1
pop this 1
push this 1
call Objects.drowAllObjects 1
pop temp 0
push this 1
call Objects.getPlayer 1
pop this 0
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.movePlayer 0
push argument 0
pop pointer 0
push this 0
call Player.getDirection 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Player.moveUp 1
pop temp 0
label IF_FALSE0
push this 0
call Player.getDirection 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Player.moveDown 1
pop temp 0
label IF_FALSE1
push this 0
call Player.getDirection 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE2
push this 0
call Player.getDirection 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Player.moveRight 1
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.MoveKeyboard 0
push argument 0
pop pointer 0
push argument 1
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
call Player.setDirection 2
pop temp 0
push pointer 0
call Game.movePlayer 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
call Player.setDirection 2
pop temp 0
push pointer 0
call Game.movePlayer 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 3
call Player.setDirection 2
pop temp 0
push pointer 0
call Game.movePlayer 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 4
call Player.setDirection 2
pop temp 0
push pointer 0
call Game.movePlayer 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Game.killBullet 1
push argument 0
pop pointer 0
push this 1
call Objects.getBulletsList 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call List.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.killObjects 0
push argument 0
pop pointer 0
push pointer 0
call Game.killBullet 1
pop temp 0
push constant 0
return
function Game.clearObjects 1
push argument 0
pop pointer 0
push this 0
call Drower.clearPlayer 1
pop temp 0
push this 1
call Objects.getBulletsList 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
call Drower.clearBullet 1
pop temp 0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.run 3
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push pointer 0
call Game.killObjects 1
pop temp 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
push this 1
call Objects.drowAllObjects 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push this 0
call Player.getDirection 1
pop local 2
push local 0
push constant 32
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push this 0
call Bullet.CraftBullet 2
pop temp 0
label IF_FALSE1
push pointer 0
push local 0
call Game.MoveKeyboard 2
pop temp 0
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
push this 1
call Objects.drowAllObjects 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call Game.clearObjects 1
pop temp 0
push pointer 0
push local 0
call Game.MoveKeyboard 2
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
