function Level.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Objects.new 0
pop this 0
push this 0
push constant 180
push constant 180
push constant 30
call Player.new 3
call Objects.setPlayer 2
pop temp 0
push this 0
push constant 50
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push pointer 0
return
function Level.getFirstLevel 0
push argument 0
pop pointer 0
push this 0
return
function Level.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAAlloc 1
pop temp 0
push constant 0
return
