function Level.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
call Objects.new 0
pop this 0
push this 0
push constant 256
push constant 256
push constant 32
sub
call Base.new 2
call Objects.setBase 2
pop temp 0
push this 0
push constant 224
push constant 16
sub
push constant 224
push constant 30
call Player.new 3
call Objects.setPlayer 2
pop temp 0
push this 0
push constant 224
push constant 32
add
push constant 224
push constant 16
sub
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 16
add
push constant 224
push constant 16
sub
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 16
add
push constant 224
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 16
add
push constant 224
push constant 16
add
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 32
add
push constant 16
add
push constant 224
push constant 16
sub
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 64
add
push constant 224
push constant 16
sub
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 64
add
push constant 224
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 224
push constant 64
add
push constant 224
push constant 16
add
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 100
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 150
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 0
push constant 100
push constant 100
call Bot.new 2
call Objects.addNewBot 2
pop temp 0
push this 0
push constant 100
push constant 100
call Bot.new 2
call Objects.addNewBot 2
pop temp 0
call Objects.new 0
pop this 1
push this 1
push constant 180
push constant 180
push constant 30
call Player.new 3
call Objects.setPlayer 2
pop temp 0
push this 1
push constant 50
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 1
push constant 100
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 1
push constant 150
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 1
push constant 200
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 1
push constant 250
push constant 50
call Brick.new 2
call Objects.addNewBrick 2
pop temp 0
push this 1
push constant 100
push constant 100
call Bot.new 2
call Objects.addNewBot 2
pop temp 0
push this 1
push constant 224
push constant 224
call Base.new 2
call Objects.setBase 2
pop temp 0
push pointer 0
return
function Level.getFirstLevel 0
push argument 0
pop pointer 0
push this 0
return
function Level.getSecondLevel 0
push argument 0
pop pointer 0
push this 1
return
function Level.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAAlloc 1
pop temp 0
push constant 0
return
