function Objects.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Objects.setMap 6
push argument 0
pop pointer 0
push this 0
push pointer 0
call Player.setMap 2
pop temp 0
push this 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 3
push local 3
call Bot.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push pointer 0
call Bot.setMap 2
pop temp 0
push local 3
call Bot.addNewBotToList 1
pop temp 0
label IF_FALSE0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 2
pop local 1
label WHILE_EXP1
push local 1
push constant 0
eq
not
not
if-goto WHILE_END1
push local 1
call BricksList.getData 1
pop local 4
push local 4
call Brick.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push pointer 0
call Brick.setMap 2
pop temp 0
push local 4
call Brick.addNewBrickToList 1
pop temp 0
label IF_FALSE1
push local 1
call BricksList.getNext 1
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 3
pop local 2
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
push local 2
call BulletsList.getData 1
pop local 5
push local 5
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
push pointer 0
call Bullet.setMap 2
pop temp 0
label IF_FALSE2
push local 2
call BulletsList.getNext 1
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Objects.getPlayer 0
push argument 0
pop pointer 0
push this 0
return
function Objects.setPlayer 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Objects.getBricksList 0
push argument 0
pop pointer 0
push this 2
return
function Objects.addNewBrick 0
push argument 0
pop pointer 0
push argument 1
push this 2
call BricksList.new 2
pop this 2
push constant 0
return
function Objects.addNewBot 0
push argument 0
pop pointer 0
push argument 1
push this 1
call BotsList.new 2
pop this 1
push constant 0
return
function Objects.getBulletsList 0
push argument 0
pop pointer 0
push this 3
return
function Objects.addNewBullet 0
push argument 0
pop pointer 0
push argument 1
push this 3
call BulletsList.new 2
pop this 3
push constant 0
return
function Objects.drowAllObjects 6
push argument 0
pop pointer 0
push this 0
call Drower.DrawPlayer 1
pop temp 0
push this 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 3
push local 3
call Bot.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call Drower.DrawBot 1
pop temp 0
label IF_FALSE0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 2
pop local 1
label WHILE_EXP1
push local 1
push constant 0
eq
not
not
if-goto WHILE_END1
push local 1
call BricksList.getData 1
pop local 4
push local 4
call Brick.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
call Drower.DrawBrick 1
pop temp 0
label IF_FALSE1
push local 1
call BricksList.getNext 1
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 3
pop local 2
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
push local 2
call BulletsList.getData 1
pop local 5
push local 5
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
call Drower.DrawBullet 1
pop temp 0
label IF_FALSE2
push local 2
call BulletsList.getNext 1
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Objects.killObjects 2
push argument 0
pop pointer 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop local 1
push local 1
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 1
call Objects.killBrick 2
pop temp 0
label IF_FALSE0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.killBrick 3
push argument 0
pop pointer 0
push this 1
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 0
push constant 0
eq
not
push local 2
not
and
not
if-goto WHILE_END0
push local 0
call BricksList.getData 1
pop local 1
push local 1
call Brick.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithBrick 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push local 1
push constant 0
call Brick.setAlive 2
pop temp 0
push constant 0
not
pop local 2
push constant 4
call String.new 1
push constant 107
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push local 0
call BricksList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.moveBullets 2
push argument 0
pop pointer 0
push this 3
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop local 1
push local 1
call Bullet.moveBullet 1
pop temp 0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.clearBullets 2
push argument 0
pop pointer 0
push this 3
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop local 1
push local 1
call Drower.clearBullet 1
pop temp 0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAAlloc 1
pop temp 0
push constant 0
return
