function Objects.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push pointer 0
return
function Objects.setMap 6
push argument 0
pop pointer 0
push this 0
push pointer 0
call Player.setMap 2
pop temp 0
push this 1
push pointer 0
call Base.setMap 2
pop temp 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 3
push local 3
call Bot.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push pointer 0
call Bot.setMap 2
pop temp 0
label IF_FALSE0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 3
pop local 1
label WHILE_EXP1
push local 1
push constant 0
eq
not
not
if-goto WHILE_END1
push local 1
call BricksList.getData 1
pop local 4
push local 4
call Brick.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push pointer 0
call Brick.setMap 2
pop temp 0
label IF_FALSE1
push local 1
call BricksList.getNext 1
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 4
pop local 2
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
push local 2
call BulletsList.getData 1
pop local 5
push local 5
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
push pointer 0
call Bullet.setMap 2
pop temp 0
label IF_FALSE2
push local 2
call BulletsList.getNext 1
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Objects.getPlayer 0
push argument 0
pop pointer 0
push this 0
return
function Objects.setPlayer 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Objects.getBotsList 0
push argument 0
pop pointer 0
push this 2
return
function Objects.addNewBot 0
push argument 0
pop pointer 0
push argument 1
push this 2
call BotsList.new 2
pop this 2
push constant 0
return
function Objects.getBricksList 0
push argument 0
pop pointer 0
push this 3
return
function Objects.addNewBrick 0
push argument 0
pop pointer 0
push argument 1
push this 3
call BricksList.new 2
pop this 3
push constant 0
return
function Objects.getBulletsList 0
push argument 0
pop pointer 0
push this 4
return
function Objects.addNewBullet 1
push argument 0
pop pointer 0
push this 4
pop local 0
push argument 1
push this 4
call BulletsList.new 2
pop this 4
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 4
call BulletsList.setPrev 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Objects.getBase 0
push argument 0
pop pointer 0
push this 1
return
function Objects.setBase 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Objects.clearAllObjects 6
push argument 0
pop pointer 0
push this 0
push constant 0
call Player.setAlive 2
pop temp 0
push this 1
push constant 0
call Base.setAlive 2
pop temp 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 3
push local 3
push constant 0
call Bot.setAlive 2
pop temp 0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 3
pop local 1
label WHILE_EXP1
push local 1
push constant 0
eq
not
not
if-goto WHILE_END1
push local 1
call BricksList.getData 1
pop local 4
push local 4
push constant 0
call Brick.setAlive 2
pop temp 0
push local 1
call BricksList.getNext 1
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 4
pop local 2
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
push local 2
call BulletsList.getData 1
pop local 5
push local 5
push constant 0
call Bullet.setAlive 2
pop temp 0
push local 2
call BulletsList.getNext 1
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Objects.drowAllObjects 6
push argument 0
pop pointer 0
push this 0
call Player.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Drower.DrawPlayer 1
pop temp 0
label IF_FALSE0
push this 1
call Base.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Drower.DrawBase 1
pop temp 0
label IF_FALSE1
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 3
push local 3
call Bot.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 3
call Drower.DrawBot 1
pop temp 0
label IF_FALSE2
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 3
pop local 1
label WHILE_EXP1
push local 1
push constant 0
eq
not
not
if-goto WHILE_END1
push local 1
call BricksList.getData 1
pop local 4
push local 4
call Brick.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
call Drower.DrawBrick 1
pop temp 0
label IF_FALSE3
push local 1
call BricksList.getNext 1
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 4
pop local 2
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
push local 2
call BulletsList.getData 1
pop local 5
push local 5
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 5
call Drower.DrawBullet 1
pop temp 0
label IF_FALSE4
push local 2
call BulletsList.getNext 1
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Objects.killObjects 4
push argument 0
pop pointer 0
push this 4
pop local 1
label WHILE_EXP0
push local 1
push constant 0
eq
not
not
if-goto WHILE_END0
push local 1
call BulletsList.getData 1
pop local 3
push local 3
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 3
call Objects.killPlayer 2
pop temp 0
push pointer 0
push local 3
call Objects.killBase 2
pop temp 0
push pointer 0
push local 3
call Objects.killBot 2
pop temp 0
push pointer 0
push local 3
call Objects.killBrick 2
pop temp 0
push pointer 0
push local 3
call Objects.killBullet 2
pop temp 0
label IF_FALSE0
push local 1
call BulletsList.getNext 1
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.killPlayer 0
push argument 0
pop pointer 0
push this 0
call Player.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithPlayer 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push this 0
push constant 0
call Player.setAlive 2
pop temp 0
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Objects.killBase 0
push argument 0
pop pointer 0
push this 1
call Base.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithBase 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push this 1
push constant 0
call Base.setAlive 2
pop temp 0
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Objects.killBot 3
push argument 0
pop pointer 0
push this 2
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 0
push constant 0
eq
not
push local 2
not
and
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 1
push local 1
call Bot.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithBot 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push local 1
push constant 0
call Bot.setAlive 2
pop temp 0
push constant 0
not
pop local 2
label IF_FALSE1
label IF_FALSE0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.killBrick 3
push argument 0
pop pointer 0
push this 3
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 0
push constant 0
eq
not
push local 2
not
and
not
if-goto WHILE_END0
push local 0
call BricksList.getData 1
pop local 1
push local 1
call Brick.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithBrick 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push local 1
push constant 0
call Brick.setAlive 2
pop temp 0
push constant 0
not
pop local 2
label IF_FALSE1
label IF_FALSE0
push local 0
call BricksList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.killBullet 3
push argument 0
pop pointer 0
push this 4
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 0
push constant 0
eq
not
push local 2
not
and
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop argument 1
push argument 1
call Bullet.getAlive 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 1
push argument 1
call Bullet.getX 1
push argument 1
call Bullet.getY 1
call BulletCollisions.CheckCollisionsWithBot 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push argument 1
push constant 0
call Bullet.setAlive 2
pop temp 0
push constant 0
not
pop local 2
label IF_FALSE1
label IF_FALSE0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.clearDeadBulletsFromList 2
push argument 0
pop pointer 0
push this 4
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop local 1
push local 1
call Bullet.getAlive 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
call Objects.clearBullet 2
pop temp 0
label IF_FALSE0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.clearBullet 2
push argument 0
pop pointer 0
push argument 1
call BulletsList.getPrev 1
pop local 0
push argument 1
call BulletsList.getNext 1
pop local 1
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
call BulletsList.setNext 2
pop temp 0
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 0
call BulletsList.setPrev 2
pop temp 0
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push this 4
call BulletsList.getNext 1
pop this 4
push this 4
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
push constant 0
call BulletsList.setPrev 2
pop temp 0
label IF_FALSE2
label IF_END0
push constant 0
return
function Objects.moveBullets 2
push argument 0
pop pointer 0
push this 4
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop local 1
push local 1
call Bullet.moveBullet 1
pop temp 0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.clearBullets 2
push argument 0
pop pointer 0
push this 4
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BulletsList.getData 1
pop local 1
push local 1
call Drower.clearBullet 1
pop temp 0
push local 0
call BulletsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.atackBots 2
push argument 0
pop pointer 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 1
push local 1
call Bot.Atack 1
pop temp 0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.moveBots 6
push argument 0
pop pointer 0
push this 2
pop local 0
push argument 1
call Base.getX 1
pop local 4
push argument 1
call Base.getY 1
pop local 5
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 1
push local 1
call Bot.getX 1
pop local 2
push local 1
call Bot.getY 1
pop local 3
push local 4
push local 2
sub
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 5
push local 3
sub
push local 4
push local 2
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 2
call Bot.setDirection 2
pop temp 0
goto IF_END1
label IF_FALSE1
push local 1
push constant 4
call Bot.setDirection 2
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push local 5
push local 3
sub
push local 2
push local 4
sub
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 2
call Bot.setDirection 2
pop temp 0
goto IF_END2
label IF_FALSE2
push local 1
push constant 3
call Bot.setDirection 2
pop temp 0
label IF_END2
label IF_END0
push local 1
call Bot.moveBot 1
pop temp 0
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.clearBots 2
push argument 0
pop pointer 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call BotsList.getData 1
pop local 1
push local 0
call BotsList.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Objects.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAAlloc 1
pop temp 0
push constant 0
return
